body {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.background {
	width: 100%;
	height: 100%;
	float: center;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
}
img.background {
	filter: blur(10px);
}

.logos {
	position: relative;
	z-index: 10;
}

.box {
	width: 60%;
	height: 50%;
	background: rgba(255, 255, 255, .5);
	border-radius: 25px;
	margin: auto;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: blue;
	text-shadow: none;
	padding-bottom: 50px;
}
p {
	padding: 10px;
}
a {
	text-decoration: none;
	color: blue;
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 25px;
}
tr {
	padding: 10px;
}
td {
	padding: 10px;
}